<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}"
>
  <head>
    <title th:text="${loggedInUser.name} + ' | Profile'">Profile Page</title>
  </head>

  <body>
    <div id="content">
      <!--! LoggedInUser Sidebar -->
      <div th:if="${loggedInUser}">
        <div th:replace="~{user/sidebar::sidebar}"></div>
      </div>

      <!--! Main Content -->
      <div class="sm:pl-55 flex flex-col items-center">
        <h1 class="text-3xl">Welcome to Profile Page</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates
          modi!
        </p>
      </div>
    </div>

    <script id="script">
      console.log("Profile page script loaded");
    </script>
  </body>
</html>
