<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}"
>
  <head>
    <title th:text="${loggedInUser.name} + ' | Profile'">Profile Page</title>
  </head>

  <body>
    <div id="content">
      <!--! LoggedInUser Sidebar -->
      <div th:if="${loggedInUser}">
        <div th:replace="~{user/sidebar::sidebar}"></div>
      </div>

      <!--! Main Content -->
      <div class="sm:pl-55">
        <h1>Welcome to Profile Page</h1>
        <h2>Profile of Connexus</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates
          modi commodi quis iusto debitis repudiandae sit pariatur doloribus
          illum necessitatibus!
        </p>
      </div>
    </div>

    <script id="script">
      console.log("Profile page script loaded");
    </script>
  </body>
</html>
