<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}">

<head>
    <title id="title">Home | Connexus</title>
</head>

<body>
    <div id="content">
        <h1>Welcome to Contact Page</h1>
        <h2>Home of Connexus</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates modi commodi quis iusto debitis
            repudiandae sit pariatur doloribus illum necessitatibus!</p>
    </div>

    <script id="script">
        console.log("Contact page script loaded");
    </script>
</body>

</html>