<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}">

<head>
    <title>Services Connexus</title>
</head>

<body>
    <section id="content">
        <h1>Welcome to Services Page</h1>
        <h2>Services offered by Connexus</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates modi commodi quis iusto debitis
            repudiandae
            sit pariatur doloribus illum necessitatibus!</p>
    </section>

    <script>
        console.log("Services page script loaded");
    </script>
</body>

</html>